<%= @player_1_name %> vs. <%= @player_2_name %>
<br> <%=@player_2_name%> HP: <%=@p2p%>

<form action="/action" method="post">
  <button type="submit" value="Attack">Attack</button>
</form>
<%= @start_bell %>
